:root{
    --primary: #FFDC00;
    --primary-letter: #665919;
}

.register-title{
    font-family: 'Varela', sans-serif !important; 
    .company-name{
        color: #6C61F6;
    }
}

.register-subtitle{
    font-size: 0.80 rem !important;
}

.mall-form-control{
    margin-bottom: 12px;
    .signup-label{
        display: block;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #999;
    }
    .input-email{
        height: 36px;
        border-radius: 4px;
        border: 1px solid #e3e3e3;
        width: 100%;
        padding: 0 10px;
        outline: none !important;
        transition: all 0.3s;
    }
    
    
}
.mall-two-fields{
    display: flex;
    justify-content: space-between;
}

.mall-signup-terms{
    .terms{
        font-size: 10px;
        color: #999 ;
        .termsconditions{
            color: #6C61F6;

        }
    }
}

.not-member{
    color: #a9abac !important ; 
    font-weight: 500 !important; 
    margin-top: 20px;
    &:hover{
        color: #6c61f6 !important;
    }
    }
.mockup{
    height: 357px;
    width: 671px;
}

@media (max-width: 480px){
    .column{
        &.register-bg{
            display: none;
        }
        &.register-form{

        }
    }
    
}