@import 'bulma/bulma.sass';

.job-title{
    color: #444F60;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.media-content .button{
    transition: all 0.5s;
}

.media-content .button:hover{
    background-color: #79ceb7;
}

@media (max-width: 480px) {
    .box{
        
    
        
    .media-content{
        display: flex;
        flex-direction: column;
        
    }
}
}
  
