:root{
    --bkcolor: #4DAB6F;
    --logo: #CDA6B3;
    --subtitleColor: #fff;
    --registerColor: #7263D6;
    --btnGoogle: #4285f4;
    --btnbgcolor: #4DAB6F;
    --times: #333333;

}

.login-form-wrap{
    max-width: 380px;
    margin: 0 auto;
}

.button.primary-btn {
    outline: none;
    border-color: #6c61f6;
    background-color: #6c61f6;
    color: #fff;
    transition: all 0.5s;
    border-radius: 500px;
    -moz-transition:  0.5s linear; /* Firefox 4 */
    -webkit-transition:  0.5s linear; /* Safari and Chrome */
    -o-transition:  0.5s linear; /* Opera */
    -ms-transition:  0.5s linear; /* Explorer 10 */
    &:hover{
        transition: all 0.5s;
    }
}

.title{
    font-family: 'Varela', sans-serif;
    font-size: 5px;
}

.subtitle{
    font-family: 'Varela', sans-serif;
    
}


.input-feedback{
    color: red;
}



.forgot-password{
    padding-top: 20px;
    .has-text-centered{
        align-content: center;
        text-align: center;
        vertical-align: middle;
    
    a{
        color: #95a5a6;
        font-weight: normal;
        padding-right: 20px;
        transition: all 0.6s;
        justify-content: center;
        outline: none;
        font-size: 14px;
        width: auto;        
        text-align: center;
        &:hover{
            color: #6c61f6 !important;
        }
        
    }
}
}

.not-member{
    color: #a9abac !important ; 
    font-weight: 500 !important; 
    &:hover{
        color: #6c61f6 !important;
    }
    }
    
.login-city{
    height: 400px;
    width: 470px;
}

.form-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    position: relative;
}






@media (max-width: 480px){
    .column{
        &.auth-sidebar{
            display: none;
        }
    }
    
}