@import 'bulma/bulma.sass';

$button-color: #6c61f6;
$button-border-color: #6c61f6;

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  
  
  
}



