.navi{
    display: flex;
    
    margin: 0 auto;
    width: 1000px;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    .listContainer {
        list-style: none;
        display: flex;
        position: relative;
        li {
            margin: 0 10px;
            color:red;
            a{
                color: red;
            }
        }
    }
}